---
http_interactions:
- request:
    method: post
    uri: http://fake.com/api/conduit.ping
    body:
      encoding: UTF-8
      string: params=%7B%7D&output=json
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - http://www.fake.com/api/conduit.ping
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 08 Feb 2015 16:31:32 GMT
- request:
    method: get
    uri: http://www.fake.com/api/conduit.ping
    body:
      encoding: UTF-8
      string: params=%7B%7D&output=json
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Object moved
    headers:
      Content-Type:
      - text/html
      Location:
      - "/"
    body:
      encoding: UTF-8
      string: |
        <head><title>Object moved</title></head>
        <body><h1>Object Moved</h1>This object may be found <a HREF="/">here</a>.</body>
  recorded_at: Sun, 08 Feb 2015 16:31:32 GMT
- request:
    method: get
    uri: http://www.fake.com/
    body:
      encoding: UTF-8
      string: params=%7B%7D&output=json
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Tue, 08 Jan 2013 17:15:52 GMT
      Etag:
      - '"0d48acfc3edcd1:0"'
    body:
      encoding: UTF-8
      string: "<html>\r\n<head>\r\n<title>FAKE LANDSCAPES - the artificial plant company</title>\r\n<LINK
        href=\"style.css\" rel=stylesheet type=text/css>\r\n<META NAME=\"DESCRIPTION\"
        CONTENT=\"FAKE LANDSCAPES - the articicial plant company\">\r\n<META NAME=\"KEYWORDS\"
        CONTENT=\"flowers,orchids,trees,plants,fruit,pots,bonsai,boxwood topiary,fake,silk\">\r\n<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=windows-1252\">\r\n<meta
        http-equiv=\"Content-Language\" content=\"en-gb\">\r\n<meta name=\"AUTHOR\"
        content=\"http://www.UKWEBSITES.net\">\r\n<meta name=\"robots\" content=\"ALL\">\r\n<meta
        name=\"resource-type\" content=\"document\">\r\n<meta name=\"rating\" content=\"General\">\r\n<meta
        name=\"copyright\" content=\"FAKE LANDSCAPES\">\r\n<meta http-equiv=\"reply-to\"
        content=\"info@fakelandscapes.com\">\r\n</head>\r\n\r\n<body onLoad=\"start();if(document.all)
        {Mhome.style.color = '#FFFFFF';Mhome.style.fontWeight='bold';}\" \r\ntopmargin=\"15\"
        leftmargin=\"10\" rightmargin=\"10\" marginheight=\"15\" \r\nmarginwidth=\"10\"
        stylesrc=\"_private/style.htm\" background=\"images/bg-grey.gif\" bgcolor=\"#384f4f\"
        text=\"#CCCCCC\" link=\"#FFFFFF\" vlink=\"#FFFFFF\" alink=\"#FFFFFF\">\r\n<div
        align=\"center\">\r\n  <center>\r\n  <table border=\"0\" cellpadding=\"0\"
        width=\"950\" cellspacing=\"0\" style=\"border-collapse: collapse\">\r\n    <tr><td
        width='50%' align='left' valign='middle'>\r\n      <img src='images/pg-titles/home_page.gif'
        alt='Home page' width=\"114\" height=\"26\"></td><td width='50%' align='right'>\r\n
        \     <img border='0' src='images/logo.gif' \r\n      alt='FAKE LANDSCAPES
        - the artificial plant company' width=\"237\" height=\"52\"></td>\r\n</tr><tr><td
        colspan='2'><img src='images/trans-spacer.gif' height='15'></td></tr>\r\n
        \ </table>\r\n  </center>\r\n</div>\r\n<div align=\"center\">\r\n  <center>\r\n<TABLE
        width=\"950\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:
        collapse\">\r\n<tr><td align=\"left\" valign=\"top\" width=\"100%\">\r\n<p
        align=\"left\" class=\"bodyText\">Congratulations. You've found the best source
        for top quality silk plants, trees and flowers on the web.&nbsp;<br>\r\n<br>\r\nWe're
        based in London but work world-wide. To learn more about who we are and how
        we work, click on the 'About us' link - otherwise just browse around the site
        using the links or pictures to get a feel for what we do.<br>\r\n<br>\r\nThe
        site is constantly developing, so do bookmark it and drop in every few weeks.</p>\r\n&nbsp;</td><td
        align=\"center\">\r\n<img border=\"0\" src=\"images/trans-spacer.gif\" width=\"17\"
        height=\"17\"></td><td align=\"center\" valign=\"top\">\r\n<script language=\"JavaScript\">\r\n<!--
        hide this script from non-javascript-enabled browsers\r\n/* Function that
        displays status bar messages. */\r\nfunction MM_displayStatusMsg(msgStr)  {
        //v3.0\r\n\tstatus=msgStr; document.MM_returnValue = true;\r\n}\r\n\r\n/*
        Functions that finds images. */\r\nfunction MM_findObj(n, d) { //v3.0\r\n
        \ var p,i,x;  if(!d) d=document; if((p=n.indexOf(\"?\"))>0&&parent.frames.length)
        {\r\n    d=parent.frames[n.substring(p+[...]
